body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(55.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

main {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 12px rgba(241, 237, 2, 1), 0 8px 16px 12px rgb(255, 251, 1);
  text-align: center;
  max-width: 500px;
  width: 600px;
  height: 300px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a90303;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
button,
p {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #030000;
  font-size: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  color: #fffbfb;
  padding: 15px 25px;
  background-color: rgb(223, 190, 6);
  background-image:
    radial-gradient(
      93% 87% at 87% 89%,
      rgb(221, 221, 1, 0.23)  0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(230, 255, 5, 0.658) 0%,
      rgba(255, 239, 13, 0) 69.79%,
      rgba(229, 255, 0, 0) 100%
    );
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgb(121, 109, 3);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #918e07;
}






.price-screen {
  box-shadow: 0 4px 8px 12px rgba(241, 237, 2, 1), 0 8px 16px 12px rgb(255, 251, 1);
  backdrop-filter: blur(10px);
  height: 50px;
  width: 200px;
  margin-left: 600px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  position:absolute;
  top:320px;
}

#price {
  font-size: 1.5rem;
  text-align: center;
}

.connector {
  box-shadow: 0 4px 8px 8px rgb(237, 241, 2), 0 8px 16px 8px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 30px;
  width: 40px;
  position: absolute;
  margin-left: 650px;
  top:410px;
}

.top-register {
  display: flex;
  justify-content: space-around;
  border-radius: 35px 35px 0 0;
  padding-top: 20px;
  box-shadow: 0 4px 8px 12px rgba(241, 237, 2, 1), 0 8px 16px 12px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 280px;
  width: 325px;
  position:absolute;
  margin-left: 550px;
  top:440px;
}

.btns-container {
  width: 25%;
  text-align: center;
}

.btn {
  border-radius: 10%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.check-btn-styles {
  cursor: pointer;
  width: 500px;
  height: 50px;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-width: 3px;
}

.cash-drawer-display {
  width: 180px;
  height: 90%;
  color:white;
  padding: 13px;
  font-size:small;
  font-weight: 300;
  margin-right: 20px;
  position: absolute;
  top:2px;
  border-radius: 30px;
  right:5px;
}

.bottom-register {
  border: 1px solid black;
  box-shadow: 0 4px 8px 8px rgba(241, 237, 2, 1), 0 8px 8px 8px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 50px;
  width: 335px;
  margin-top: 310px;
  position:absolute;


}

.circle {
  margin: 15px auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
}









@media (max-width: 700px) {
  body {
    background-image: url(66.jpg);
  }

  main {
    width: 200px;
    height: 300px;
  }
}

@media (max-width: 360px) {
  body {
    width: 360px;
    height: 200px;
    display: flex;
  }

  main {
    width: 150px;
    display: flex;
    height: 150px;
    padding: 40px;
    position: absolute;
    left: 30px;
    top: 30px;
    max-height: 180px;
  }

  h1 {
    font-size: 15px;
    top: 10px;
    left: 60px;
    position: absolute;
  }

  input {
    width: 200px;
    height: 10px;
    position: absolute;
    top: 150px;
    left: 20px;
  }

  button {
    width: 200px;
    height: 20px;
    padding: 3px;
    position: absolute;
    left: 20px;
    top: 180px;
  }

  #change-due {
    width: 50px;
    height: 50px;
    font-size: 10px;
    left: 90px;
    top: 50px;
    position: absolute;
  }


  .price-screen {
  height: 20px;
  width: 80px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  position:absolute;
  top:270px;
  margin-left:50px;
  box-shadow: 0 2px 3px 2px rgb(237, 241, 2), 0 2px 3px 2px rgb(255, 251, 1);
}

#price {
  font-size: 1.5rem;
  text-align: center;
}

.connector {
  margin-left: -20px;
  box-shadow: 0 4px 2px 1px rgb(237, 241, 2), 0 1px 2px 2px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 10px;
  width: 10px;
  position: absolute;
  margin-left: 80px;
  top:310px;
}

.top-register {
  display: flex;
  justify-content: space-around;
  border-radius: 35px 35px 0 0;
  padding-top: 20px;
  box-shadow: 0 2px 1px 1px rgba(241, 237, 2, 1), 0 2px 2px 1px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 195px;
  width: 140px;
  position:absolute;
  margin-left: 20px;
  top:330px;
}

.btns-container {
  width: 25%;
  text-align: center;
}

.btn {
  border-radius: 10%;
  border: none;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.check-btn-styles {
  cursor: pointer;
  width: 170px;
  height: 30px;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-width: 3px;
}

.cash-drawer-display {
  width: 180px;
  height: 90%;
  color:white;
  padding: 13px;
  font-size:9px;
  font-weight: 300;
  margin-right: -40px;
  position: absolute;
  top:2px;
  border-radius: 30px;
  right:5px;
}

.bottom-register {
  border: 1px solid yellow;
  box-shadow: 0 2px 2px 1px rgba(241, 237, 2, 1), 0 1px 2px 1px rgb(255, 251, 1);
  text-align: center;
  backdrop-filter: blur(10px);
  height: 20px;
  width: 160px;
  margin-top: 209px;
  position:absolute;
margin-left:10px;

}

.circle {
  margin: 15px auto;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position:absolute;
  top:170px;
}



}